<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snake Game{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel:wght@400..900&family=Orbitron:wght@400..900&family=Peralta&family=Vast+Shadow&display=swap" rel="stylesheet">
    <link id="themeStylesheet"   rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}">
    {% block extra_head %}{% endblock %}
    {% csrf_token %}
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'start_game' %}">Start Game</a></li>
                <li><a href="{% url 'score_board' %}">Top 10</a></li>
                <li><a href="{% url 'home' %}">Exit</a></li>
            </ul>
            <h3>Theme Switch</h3>
           <div class="theme-switch">
            <input type="checkbox" id="themeToggle">
            <label class="slider" for="themeToggle"></label>
           </div>
        </div>
        <div class="content">
            <header>
                <h1>Snake Game</h1>
            </header>

            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block extra_scripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="{% static 'game/js/rating-animated.js' %}"></script>
    <script src="{% static 'game/js/theme-switch.js' %}"></script>
</body>
</html>