<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snake Game{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel:wght@400..900&family=Peralta&family=Vast+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'start_game' %}">Start Game</a></li>
                <li><a href="{% url 'home' %}">Exit</a></li>
            </ul>
        </div>
        <div class="content">
            <header>
                <h1>Snake Game</h1>
            </header>

            <main>
                {% block content %}
                <canvas id="gameCanvas" width="400" height="400"></canvas>
                {% endblock %}
            </main>
        </div>
    </div>
    <div id="scoreBox">Score: 0</div>

    {% block extra_scripts %}{% endblock %}
</body>
</html>