{% extends 'base.html' %}

{% load static %}

{% block title %}Play Snake{% endblock %}

{% block content %}
    <div id="usernameModal" class="modal">
        <div class="modal-content">
            <p>Enter your name:</p>
            <input type="text" id="usernameInput">
            <button id="startGameBtn">Start Game</button>
        </div>
    </div>

    <canvas id="gameCanvas" width="400" height="400"></canvas>
    <div id="scoreBox">Score:0</div>

    <div id="gameOverModal" class="modal">
        <div class="modal-content">
            <p class="game-over"> Game Over!</p>
            <p id="finalScore"></p>
            <button id="restartBtn">Restart</button>
            <a href="{% url 'home' %}" id="exitBtn">Exit</a>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'game/js/game.js' %}"></script>
{% endblock %}