{% extends 'base.html' %}

{% load static %}

{% block title %}Play Snake{% endblock %}

{% block content %}
    <div id="usernameModal" class="modal">
        <div class="modal-content">
            <p class="enterName"> Enter your name</p>
            <input type="text" id="usernameInput"> &#10144;
            <button id="startGameBtn">Start Game !</button>
            <a href="{% url 'home' %}" class="exitBtn">Exit</a>
        </div>
    </div>

    <canvas id="gameCanvas" width="400" height="400"></canvas>
    <div id="scoreBox">Score: <span id="scoreValue">0</span></div>

    <div id="gameOverModal" class="modal">
        <div class="modal-content">
            <p class="game-over"> Game Over !</p>
            <p id="finalScore"></p>
            <button id="restartBtn">Restart</button>
            <a href="{% url 'home' %}" class="exitBtn">Exit</a>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'game/js/game.js' %}"></script>
{% endblock %}