{% extends 'base.html' %}

{% load static %}

{% block title %}Score Board{% endblock %}

{% block content %}
    <table class="score-table">
        <thead>
            <tr>
                <th>&#9786; Username &#9786;</th>
                <th>&#9734; Score &#9734;</th>
                <th>&darr; Date &darr; </th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.username }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.timestamp| date:"d-m-Y"  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}