{% extends 'base.html' %}

{% load static %}

{% block title %}Top 10{% endblock %}

{% block content %}
    <table class="score-table">
        <thead>
            <tr>
                <th><span class="username">&#9786;</span>  Username <span class="username">&#9786;</span></th>
                <th><span class="rating">&#9734;</span> Score <span class="rating">&#9734;</span></th>
                <th><span class="date">&darr;</span>  Date <span class="date"> &darr;</span></th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.username }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.timestamp| date:"d-m-Y"  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}