* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(90deg, #574985, #935daa); */
    background: linear-gradient(to bottom, #574985, #a282af);
    filter: brightness(0.9);
    overflow: hidden;
}

/* body::-webkit-scrollbar {
    width: 0;
  } */


h2 {
    font-size: 2.7em;
}

h1 {
    color: #70498E;
    padding: 7px;
    background-color: #CBAACA;
    border-radius: 11px;
    -webkit-text-stroke: 0.6px #CBAACA;
    text-shadow: 1px 1px 2px rgb(131, 130, 130), 0 0 1em white;
    font-size: 2.5em;
    opacity: 0.9;
    border: 1px solid rgba(255, 255, 255, 0.514);
}

h1, h2 {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.sidebar {
    width: 230px;
    /* height: 340px; */
    background: rgba(189, 150, 189, 0.644);
    padding: 15px;
    margin-right: 100px;
    border: 2px solid #30214c46;
    border-radius: 7px;
}

.sidebar h2 {
    color:#70498E;
    -webkit-text-stroke: 1px #CBAACA;
    text-shadow: 1px 1px 2px rgb(131, 130, 130), 0 0 1em white;
    text-align: center;
    opacity: 0.9;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-bottom: 3px solid rgba(255, 255, 255, 0.452);
    padding: 11px;
    background-color: #CBAACA;
    border-radius: 11px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #3f3f3f;
    text-decoration: none;
    display: block;
    padding: 10px;
    background: #ceb9ce;
    border-radius: 5px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    -webkit-text-stroke: 0.1px #c0adc0;
    text-shadow: 1px 1px 2px rgb(185, 185, 185), 0 0 1em white;
    font-size: 1.2em;
    font-style: normal;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.295);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.243);
}

.sidebar ul li a:hover {
    background: #5A4B87;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    width: 670px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer {
    width: 100%;
    padding: 1em;
    text-align: center;
    background: rgba(189, 150, 189, 0.644);
    border-radius: 7px;
    margin-bottom: 10px;
    border: 2px solid #30214c7e;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #72727238;
    border-radius: 5px;
    position: relative;
}

main, .sidebar, header, footer,  #scoreBox {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-snake {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #c6c5c518;
    border-radius: 11px;
    opacity: 0.8;
}

canvas {
    background: linear-gradient(to bottom , #d9b4e9, #9686c5);
    border-radius: 11px;
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    border: 3px solid #30214c46;
}

#scoreBox {
    display: none;
    opacity: 0;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 11px;
    border-radius: 5px;
    font-size: 1.6em;
    color: #e94641e5;
    background: #d2b7d7db;
    -webkit-text-stroke: 0.6px #cbaaca77;
    text-shadow: 1px 1px 2px rgb(131, 130, 130), 0 0 1em rgba(255, 255, 255, 0.397);
    border: 2px solid rgba(255, 255, 255, 0.377);
    filter: brightness(1.1);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .game-over {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.8em;
    color: rgba(246, 94, 43, 0.809);
    -webkit-text-stroke: 0.3px #CBAACA;
    text-shadow: 1px 1px 2px rgb(131, 130, 130), 0 0 1em white;
    margin-bottom: 30px;
    padding: 7px;
    background: #f7e2f7dc;
    border: 1px solid rgba(255, 255, 255, 0.836);
    border-radius: 7px;
}

.modal #finalScore {
    padding: 3px;
    font-size: 1.3em;
    font-weight: bold;
    opacity: 0.6;
    border-bottom: 3px solid white;
    font-family: "Vast Shadow", serif;
    font-weight: 500;
    font-style: normal;
}

.modal-content {
    background-color: #af99af;
    padding: 20px;
    border: 1px solid #888;
    margin-left: 140px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1.8px solid rgb(255, 255, 255);
}

#usernameModal .modal-content {
    display: none;
}

#restartBtn {
    background: #fcf9fcdc;
    color: rgba(43, 43, 43, 0.828);
    padding: 7px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 30px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    -webkit-text-stroke: 0.1px #f1ddf1;
    text-shadow: 1px 1px 2px rgb(197, 197, 197), 0 0 1em white;
    transition: all ease-in-out 0.3s;
}

#restartBtn:hover {
    background-color: #6eb04fbe;;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.enterName {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.8em;
    margin-bottom: 20px;
    padding: 7px;
    background: #f7e2f7dc;
    -webkit-text-stroke: 0.3px #CBAACA;
    text-shadow: 1px 1px 2px rgb(197, 197, 197), 0 0 1em white;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.836);
    color: #688678;
}

#usernameInput {
    padding: 7px;
    margin-top: 11px;
    margin-bottom: 23px;
    margin-left: 1px;
    border-radius: 7px;
    border: 1px solid rgba(156, 155, 155, 0.835);
}

#startGameBtn {
    padding: 7px;
    margin-left: 1px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.542);
    cursor: pointer;
    background: #f8f0f8dc;
    color: rgba(43, 43, 43, 0.828);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* -webkit-text-stroke: 0.1px #eee7ee; */
    text-shadow: 1px 1px 2px rgb(190, 190, 190), 0 0 1em rgb(199, 199, 199);
    font-style: normal;
    font-size: 0.9em;
    transition: all ease-in-out 0.3s;
}

#startGameBtn:hover {
    background: #6eb04fbf;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

a.exitBtn {
    display: block;
    margin-top: 7px;
    padding: 7px 20px;
    background: #fcf9fcdc;
    color: rgba(43, 43, 43, 0.828);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    -webkit-text-stroke: 0.1px #f1ddf1;
    text-shadow: 1px 1px 2px rgb(197, 197, 197), 0 0 1em white;
    transition: all ease-in-out 0.3s;
}

a.exitBtn:hover {
    background-color: rgb(250, 123, 123);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.score-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: center;
    width: 670px;
    height: 600px;
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(43, 43, 43, 0.828);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    border-radius: 7px;
    overflow: hidden;
}

.score-table thead tr {
    background-color: #ad88ad;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.score-table th, .score-table td {
    padding: 12px 15px;
    border: 1px solid #ffffff;
}

.score-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.score-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3da;
}

.score-table tbody tr:nth-of-type(odd) {
    background-color: #b691b693;
}

.score-table tbody tr:last-of-type {
    border-bottom: 2px solid #ad88ad;
}

.rating {
    color: gold;
    vertical-align: -2px;
}

.username {
    color: rgba(255, 255, 0, 0.772);
    vertical-align: -5px;
}

.date {
    color: rgba(90, 220, 4, 0.863);
    vertical-align: -2px;
}

.rating, .username, .date {
    font-size: 2.1em;
}

/* Стили для переключателя */
.theme-switch {
    position: absolute; 
    bottom: 20%; 
    left: 16%; 
    transform: translateX(-50%); 
    width: 60px; 
    height: 30px; 
}

h3 {
    position: absolute; 
    bottom: 27%; 
    left: 16%; 
    transform: translateX(-50%);  font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px;
    background: #ceb9ce;
    -webkit-text-stroke: 0.1px #c0adc0;
    text-shadow: 1px 1px 2px rgb(185, 185, 185), 0 0 1em white;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.295);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.187);
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #58a213d2;
    transition: .4s;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #654e95;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

/* Media */
@media (min-width: 1600px) {
    body {
        zoom: 1.1;
        height: 90vh;
    }

    .rating, .username, .date {
        font-size: 1em;
    }

    .score-table thead tr {
        font-size: 1.6em;
    }

    .rating, .username, .date {
        vertical-align: -1px;
    }
}